.printPageHeader {
    width: 100%;
    position: fixed;
    top: 1px;
    display: flex;
    flex-direction: row;
}

.bigLineDivider {
    flex-grow: 10;
    border-bottom: 5px solid var(--customPrimary);
    margin: 0px 5px;
    margin-bottom: 12px;
}

.smallLineDivider {
    flex-grow: 1;
    border-bottom: 5px solid var(--customPrimary);
    margin: 0px 5px;
    margin-bottom: 12px;
}

.headerColoredBox {
    background-color: var(--customLightPrimary);
    border-radius: 5px;
    flex-grow: 0;
    padding: 5px 20px;
    font-size: 1rem;
    color: var(--customPrimary);
}

.printPageFooter {
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

.footerLogoImage {
    max-width: 110px;
    object-fit: contain;
}

.printingContentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.pageBreakElement {
    page-break-after: always;
    display:block;
    position:static;
}

.imagePrint-Cell {
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

.print-headerCell {
    background-color: var(--BackgroundColor);
    color: black;
    font-size: 0.75rem;
    font-weight: bold;
    border-bottom: 2px solid var(--customPrimary);
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 5px;
}

.print-cell {
    color: black;
    vertical-align: middle;
    font-size: 0.6875rem;
    padding: 5px;
    border-bottom: 1px solid white;
    word-wrap:break-word;
}

.print-footer {
    background-color: white;
    color: black;
    text-align: right;
    font-size: 0.9rem;
    font-weight: bold;
    position: sticky;
    bottom: 0;
    z-index: 2;
    border-top: 2px solid var(--customPrimary);
}

.print-table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
}

/*Alternating rows printable rows per page 7*/
.print-alternate-tr {
    page-break-inside: avoid;
}

    .print-alternate-tr:nth-child(odd) {
        background-color: white;
    }

    .print-alternate-tr:nth-child(even) {
        background-color: var(--BackgroundColor);
    }
