
#ExtrasPanelContainer:focus-within {
    border-color: lightslategray;
}

#ExtrasPanelContainer {
    height: 100%;
    border: 1px solid lightgray;
}

#additionalsRow:hover {
    background-color: var(--customVeryLightGray);
}
