
#BronzeArtLogo2 {
    
}

#BronzeArtLogo2Path {
    stroke-dasharray: 6978.86;
    stroke-dashoffset: 6978.86;
    stroke-width:1px;
    stroke:black;
    animation: line-anime 10s ease forwards 0.2;
}


    /*#BronzeArtLogo2 path {
        stroke: black;
        stroke-width: 1px;
        animation: fill-anime 1.0s ease forwards 13s;
    }*/

@keyframes line-anime {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-anime {
    from {
        fill: transparent;
        fill-opacity: 0;
    }

    to {
        fill: red; /*#FFCC66;*/
        fill-opacity: 0.8;
    }
}
