/*BRONZE LOGO ANIMATION -- WRITING AND FILLING IN THE END*/

#BronzeArtLogo {
    animation: fill-anime 1.0s ease forwards 4.4s;
}

    #BronzeArtLogo path:nth-child(1) {
        stroke-dasharray: 301.69px;
        stroke-dashoffset: 301.69px;
        animation: line-anime 2s ease forwards 0.5;
    }
    #BronzeArtLogo path:nth-child(2) {
        stroke-dasharray: 289.627px;
        stroke-dashoffset: 289.627px;
        animation: line-anime 2s ease forwards 0.3s;
    }
    #BronzeArtLogo path:nth-child(3) {
        stroke-dasharray: 281.412px;
        stroke-dashoffset: 281.412px;
        animation: line-anime 2s ease forwards 0.6s;
    }

    #BronzeArtLogo path:nth-child(4) {
        stroke-dasharray: 319.641px;
        stroke-dashoffset: 319.641px;
        animation: line-anime 2s ease forwards 0.9s;
    }

    #BronzeArtLogo path:nth-child(5) {
        stroke-dasharray: 254.963px;
        stroke-dashoffset: 254.963px;
        animation: line-anime 2s ease forwards 1.2s;
    }
    #BronzeArtLogo path:nth-child(6) {
        stroke-dasharray: 259.200px;
        stroke-dashoffset: 259.200px;
        animation: line-anime 2s ease forwards 1.5s;
    }

    #BronzeArtLogo path:nth-child(7) {
        stroke-dasharray: 263.220px;
        stroke-dashoffset: 263.220px;
        animation: line-anime 2s ease forwards 1.8s;
    }

    #BronzeArtLogo path:nth-child(8) {
        stroke-dasharray: 289.6279px;
        stroke-dashoffset: 289.6279px;
        animation: line-anime 2s ease forwards 2.1s;
    }

    #BronzeArtLogo path:nth-child(9) {
        stroke-dasharray: 199.200px;
        stroke-dashoffset: 199.200px;
        animation: line-anime 2s ease forwards 2.4s;
    }
    #BronzeArtLogo path{
        stroke:White;
        stroke-width:3px;
    }

    @keyframes line-anime {
        to{
            stroke-dashoffset: 0;
        }
    }

    @keyframes fill-anime{
        from{
            fill:transparent;
            fill-opacity:0;
        }
        to {
            fill:white; /*#FFCC66;*/
            fill-opacity: 0.1;
        }
    }
