@*Not Ready*@
@page "/About"

<div style="width:100%;height:80vh;">
    <div class="d-flex flex-column justify-center align-center" style="margin-top:20px">
        <i class="fas fa-tools fa-5x"></i>
        <MudText Typo="Typo.h1">Under Construction</MudText>
        <MudText Typo="Typo.h2">Not Coming Soon...</MudText>
    </div>
</div>

@code {

}
