<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BronzeFactoryApplication.Properties.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BronzeFactoryApplication.Properties.SettingsXlsGlasses" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BronzeFactoryApplication.Properties.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BronzeFactoryApplication.Properties.GeneralSettings>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>Ver1.00-24-07-2022</value>
            </setting>
        </BronzeFactoryApplication.Properties.GeneralSettings>
    </applicationSettings>
    <userSettings>
        <BronzeFactoryApplication.Properties.SettingsXlsGlasses>
            <setting name="WorksheetName" serializeAs="String">
                <value>Glasses Order</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="IsFontBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="FontColorA" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="FontColorR" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="FontColorG" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="FontColorB" serializeAs="String">
                <value>106</value>
            </setting>
            <setting name="NormalRowHeight" serializeAs="String">
                <value>19.5</value>
            </setting>
            <setting name="TotalRows" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="FirstRowIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FirstColumnIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HorizontalAlignment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="VerticalAlignment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="TitleRowHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TitleBackgroundColorA" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="TitleBackgroundColorR" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="TitleBackgroundColorG" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="TitleBackgroundColorB" serializeAs="String">
                <value>196</value>
            </setting>
            <setting name="TitleFontColorA" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="TitleFontColorR" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="TitleFontColorG" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="TitleFontColorB" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="IsTitleFontBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnTitle1el" serializeAs="String">
                <value>A/A</value>
            </setting>
            <setting name="ColumnTitle2el" serializeAs="String">
                <value>Σχέδιο</value>
            </setting>
            <setting name="ColumnTitle3el" serializeAs="String">
                <value>Μήκος(mm)</value>
            </setting>
            <setting name="ColumnTitle4el" serializeAs="String">
                <value>Ύψος(mm)</value>
            </setting>
            <setting name="ColumnTitle5el" serializeAs="String">
                <value>Πάχος(mm)</value>
            </setting>
            <setting name="ColumnTitle6el" serializeAs="String">
                <value>Τύπος</value>
            </setting>
            <setting name="ColumnTitle7el" serializeAs="String">
                <value>CUT Μήκος(mm)</value>
            </setting>
            <setting name="ColumnTitle8el" serializeAs="String">
                <value>CUT Ύψος(mm)</value>
            </setting>
            <setting name="ColumnTitle9el" serializeAs="String">
                <value>Τεμάχια</value>
            </setting>
            <setting name="ColumnTitle10el" serializeAs="String">
                <value>BronzeUse PA0</value>
            </setting>
            <setting name="ColumnTitle11el" serializeAs="String">
                <value>BronzeUse Item</value>
            </setting>
            <setting name="ColumnTitle12el" serializeAs="String">
                <value>Σημειώσεις</value>
            </setting>
            <setting name="ColumnTitle13el" serializeAs="String">
                <value>Τιμή EUR</value>
            </setting>
            <setting name="ColumnTitle1en" serializeAs="String">
                <value>Ref.No</value>
            </setting>
            <setting name="ColumnTitle2en" serializeAs="String">
                <value>Draw</value>
            </setting>
            <setting name="ColumnTitle3en" serializeAs="String">
                <value>Length(mm)</value>
            </setting>
            <setting name="ColumnTitle4en" serializeAs="String">
                <value>Height(mm)</value>
            </setting>
            <setting name="ColumnTitle5en" serializeAs="String">
                <value>Thickness(mm)</value>
            </setting>
            <setting name="ColumnTitle6en" serializeAs="String">
                <value>Type</value>
            </setting>
            <setting name="ColumnTitle7en" serializeAs="String">
                <value>CUT Length(mm)</value>
            </setting>
            <setting name="ColumnTitle8en" serializeAs="String">
                <value>CUT Height(mm)</value>
            </setting>
            <setting name="ColumnTitle9en" serializeAs="String">
                <value>Pieces</value>
            </setting>
            <setting name="ColumnTitle10en" serializeAs="String">
                <value>BronzeUse PA0</value>
            </setting>
            <setting name="ColumnTitle11en" serializeAs="String">
                <value>BronzeUse Item</value>
            </setting>
            <setting name="ColumnTitle12en" serializeAs="String">
                <value>Notes</value>
            </setting>
            <setting name="ColumnTitle13en" serializeAs="String">
                <value>Price EUR</value>
            </setting>
        </BronzeFactoryApplication.Properties.SettingsXlsGlasses>
        <BronzeFactoryApplication.Properties.GeneralSettings>
            <setting name="SelectedTheme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="SelectedLanguage" serializeAs="String">
                <value>el-GR</value>
            </setting>
        </BronzeFactoryApplication.Properties.GeneralSettings>
    </userSettings>
</configuration>