.light-option {
    transition: transform 0.2s ease;
    overflow: hidden;
}

    .light-option:hover {
        transform: translateY(-5px);
    }

.light-category-title {
    flex-basis:100%;
    font-weight: 500;
    color: var(--customDark);
    margin-bottom: 8px;
    font-size: 0.9rem;
    border-left: 4px solid var(--BronzeGold);
    padding-left: 8px;
}

.light-option-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.light-option-img {
    max-height: 120px;
    transition: transform 0.3s ease;
}

.light-option-text {
    margin-top: 8px;
    text-align: center;
    font-size: 0.9rem;
}

.expansion-title {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap:8px;
}
.lineElement {
    border-bottom: 4px solid var(--BackgroundColor);
    flex-grow: 1;
    margin: 2px 20px 0px 5px;
}




