@*The Starting Carousel Displaying the Mirrors*@
@namespace BronzeArtWebApplication.Components.MirrorCreationComponents.AssembleMirrorComponents

<div class="d-flex rounded-lg bronze-FadeIn mirrorsCarousel">
    <MudCarousel Style="width:inherit;min-height:inherit"
                 ShowArrows="@true"
                 ShowBullets="@true"
                 BulletsPosition="@(Position.Bottom)"
                 AutoCycle="@true"
                 TData="object"
                 Class="mt-2 rounded-lg">
        <MudCarouselItem Transition="Transition.Fade">
            <div class="carouselImg-Container">
                <img src="/Images/MirrorsImages/MirrorModelsImages/60N2.jpg"
                     class="carouselImg" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade">
            <div class="carouselImg-Container">
                <img src="/Images/MirrorsImages/MirrorModelsImages/60P8Pure.jpg"
                     class="carouselImg" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade">
            <div class="carouselImg-Container">
                <img src="/Images/MirrorsImages/MirrorModelsImages/60ND.jpg"
                     class="carouselImg" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade">
            <div class="carouselImg-Container">
                <img src="/Images/MirrorsImages/MirrorModelsImages/60R7Horizontal.jpg"
                     class="carouselImg" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade">
            <div class="carouselImg-Container">
                <img src="/Images/MirrorsImages/MirrorModelsImages/R9CarouselImage.jpg"
                     class="carouselImg" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade">
            <div class="carouselImg-Container">
                <img src="/Images/MirrorsImages/MirrorModelsImages/60H7Horizontal.jpg"
                     class="carouselImg" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade">
            <div class="carouselImg-Container">
                <img src="/Images/MirrorsImages/MirrorModelsImages/60N6.jpg"
                     class="carouselImg" />
            </div>
        </MudCarouselItem>
        @* <MudCarouselItem Transition="Transition.Fade">
            <div class="carouselImg-Container">
                <img src="/Images/MirrorsImages/MirrorModelsImages/60M3.jpg"
                     class="carouselImg" />
            </div>
        </MudCarouselItem> *@
    </MudCarousel>
</div>

@code {

}
