@inject ILanguageContainerService lc

<div class="mirror-grid">
    @foreach (var series in SeriesToDisplay)
    {
        <div class="mirror-card" @onclick="() => OnSeriesSelected.InvokeAsync(series)">
            <div class="overlay-gradient"></div>
            <img src="@(SeriesImagePaths[series])"
                 alt="@(lc.Keys[MirrorSeriesDescKey[series]])"
                 class="mirror-img">
            <div class="mirror-title">
                <h3>@(lc.Keys[MirrorSeriesDescKey[series]])</h3>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public List<MirrorSeries> SeriesToDisplay { get; set; }
    [Parameter] public EventCallback<MirrorSeries> OnSeriesSelected { get; set; }
}