@page {
    size: letter;
    margin: 8mm 8mm 8mm 8mm
}

.sumsTable {
    margin-right: 0px;
    margin-left: auto;
    table-layout: auto;
    width: min-content;
}

    .sumsTable td {
        padding: 2px;
    }

.notesTextContainer{
    font-style:italic;
    font-size:0.7rem;
    word-wrap:break-word;
    max-width:450px;
    text-align:left;
}


