@* A Carousel Containing photos of some of the Cabins *@
<div class="cabinsCarousel">
    <MudCarousel Style="width:inherit;min-height:inherit;"
                 Class="cabinsCarousel"
                 ShowArrows="@true"
                 ShowBullets="@true"
                 AutoCycle="@true"
                 TData="object">
        <MudCarouselItem Transition="Transition.Fade">
            <div class="d-flex" style="height:100%;width:100%">
                <img src="../Images/CabinImages/Series/ImgInox304/VS.png" style="margin:auto;max-width:80vw" class="rounded-lg" onloadeddata="javascript: " />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade">
            <div class="d-flex" style="height:100%;width:100%">
                <img src="../Images/CabinImages/Series/ImgFree/8W.png" style="margin:auto;max-width:80vw" class="rounded-lg" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade">
            <div class="d-flex" style="height:100%;width:100%">
                <img src="../Images/CabinImages/Series/ImgBronze6000/9S.png" style="margin:auto;max-width:80vw" class="rounded-lg" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade">
            <div class="d-flex" style="height:100%;width:100%">
                <img src="../Images/CabinImages/Series/ImgSmart/WS.png" style="margin:auto;max-width:80vw" class="rounded-lg" />
            </div>
        </MudCarouselItem>
    </MudCarousel>
</div>

@code {

}
