@*A Caontainer for The Various Options Panels*@

<div id="PanelContainer" class="rounded-lg @(Class)" style="height:100%;width:100%;border:1px solid var(--BackgroundColor);@(Style)">
    <MudGrid Spacing="1">
        <MudItem xs="12">
            <div id="PanelTitleContainer" class="d-flex flex-row justify-center align-center pa-2 rounded-t-lg" style="@(TitleStyle)">
                @TitleContent
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12" xxl="12">
            <div class="pa-2" style="width:100%">
                @Content
            </div>
        </MudItem>

    </MudGrid>
</div>


@code {

}
