.progressText {
    font-size: 1rem;
    font-weight: bold;
    color: var(--customPrimary);
    display:flex;
    justify-content:center;
}
.progressContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--BackgroundColor);
    padding:40px;
    border-radius:20px;
    min-width:50%;
}
